.background {
    position: absolute;
    z-index: -5;
    width: 100%;
}


#cabecalho {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
}

#cabecalho h1 {
    font-size: 80px;
}

#game-board img{
    width: 200px;
}

#game-board {
    display: flex;
    justify-content: space-between;
}

#versus {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

#versus img {
    margin-left: 250px;
    width: 200px;
    margin-top: -100px;
}

#versus button {
    margin-left: 220px;
    margin-top: -10px;
}

.containerVidasP {
    margin-left: 30px;
}

.containerVidasC {
    margin-left: 190px;
}

#jogador-escolha1 {
    list-style-type: none;
    width: 120px;
}

#jogador-nome {
    font-size: 30px;
    margin-left: 20px;
    font-family:'Montserrat', sans-serif;
}

#computador-nome {
    font-size: 30px;
    margin-left: 150px;
    font-family:'Montserrat', sans-serif;  
}

#imagem-1 {
    opacity: 1;
    
}

#imagem-1:hover {
    opacity: 1;
    cursor: pointer;
}

#imagem-2 {
    opacity: 1;
    margin-top: -106px;
    margin-left: 214px;
}

#imagem-2:hover {
    opacity: 1;
    cursor: pointer;
    
}

#imagem-3 {
    opacity: 1;
    margin-top: -110px;
    margin-left: 8px;
}

#imagem-3:hover {
    opacity: 1;
    cursor: pointer;  
}

#imagem-4 {
    opacity: 1;
    margin-top: 13px;
    margin-left: 120px;
}


#imagem-4:hover {
    opacity: 1;
    cursor: pointer;
}

#imagem-5 {
    opacity: 1;
    margin-top: -70px;
    margin-left: -100px;
}


#imagem-5:hover {
    opacity: 1;
    cursor: pointer;
}
#imagem-6 {
    opacity: 1;
    margin-top: -105px;
    margin-left: 120px;
   
}

#imagem-6:hover {
    opacity: 1;
    cursor: pointer;
}

#computador-escolha1 {
    list-style-type: none;
}

#jogadores, #computador {
    align-items: stretch;
}

#computador-escolha1 img {
    width: 184px;
}

#jogador1 img, #computador1 img {
    width: 50px;
    margin-top: -12px;
}


#computador1 h3 {
    margin-right: 20px;
}


#placar {
    color: black;
    text-align: center;
    margin-top: -110px;
    padding-bottom: 100px;
    margin-left: 25px;
    font-family:'Montserrat', sans-serif;
}


.hidden {
    display: none;
}

.show {
    display: content;
}

#control-btn {
    position: relative;
    top: 20px;
    left: 10px;
    border-radius: 30px;
    background-color: white;
    border: 3px solid black;
    padding: 5px 50px;
    font-size: 30px;
    font-weight: bold;  
}


.modalBackground img {
    width: 100%;
    position: absolute;
    z-index: 10;
    height: 100%;
    top: 0px;
}

.btnModal1 {
    position: relative;
    top: 390px;
    left: 555px;
    border-radius: 30px;
    background-color: white;
    border: 3px solid black;
    padding: 5px 50px;
    font-size: 30px;
    font-weight: bold;
    z-index: 11;
}

.btnModal2 {
    position: relative;
    top: 410px;
    left: 540px;
    border-radius: 30px;
    background-color: white;
    border: 3px solid black;
    padding: 5px 50px;
    font-size: 30px;
    font-weight: bold;
    z-index: 12;
}

.btnModal3 {
    position: relative;
    top: 420px;
    left: 800px;
    border-radius: 30px;
    background-color: white;
    border: 3px solid black;
    padding: 5px 50px;
    font-size: 30px;
    font-weight: bold;
    z-index: 13;
}

.btnModal4 {
    position: relative;
    top: 420px;
    left: 800px;
    border-radius: 30px;
    background-color: white;
    border: 3px solid black;
    padding: 5px 50px;
    font-size: 30px;
    font-weight: bold;
    z-index: 14;
}
