#cabecalho {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
}

#game-board img{
    width: 100px;
}

#game-board {
    display: flex;
    justify-content: space-between;
}

#versus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#jogador-escolha1 {
    list-style-type: none;
    
}

#jogador-nome, #computador-nome {
    font-size: 30px;
}

.newImage {
    opacity: 1;
    border: red;
}

#imagem-1 {
    opacity: .2;
}

#imagem-1:hover {
    opacity: 1;
    cursor: pointer;
}

#imagem-2 {
    opacity: .2;
}

#imagem-2:hover {
    opacity: 1;
    cursor: pointer;
}

#imagem-3 {
    opacity: .2;
    
}

#imagem-3:hover {
    opacity: 1;
    cursor: pointer;
}

#imagem-4 {
    opacity: .2;
}

#imagem-4:hover {
    opacity: 1;
    cursor: pointer;
}

#imagem-5 {
    opacity: .2;
}

#imagem-5:hover {
    opacity: 1;
    cursor: pointer;
}
#imagem-6 {
    opacity: .2;
}

#imagem-6:hover {
    opacity: 1;
    cursor: pointer;
}

#img-1 {
    margin-left: 20px;
}

#img-6 {
    margin-right: 20px;
}


#computador-escolha1 img {
 margin-left: 150px;
}


#computador-escolha1 {
    list-style-type: none;
}

#jogadores, #computador {
    align-items: stretch;
}

#computador h3 {
    text-align: right;
}

#jogador1 {
    display: flex;
}

#computador1 {
    display: flex;
}

#jogador-vidas img, #computador-vidas img {
    width: 30px;
}




